section{
    margin-block: 100px !important;
    margin-bottom: 20px !important;
}

.form-container{
    background: #2c2c3e;
}

form label, h3{
    color: #fff !important;
}

form input{
    font-size: 12px !important;
}

.btn-custom {
    background-color: #007bff;
    color: #fff;
}
.btn-custom:hover {
    background-color: #0056b3;
}
