{% extends "admin/index.html" %}

{% block content %}

<div class="app-authentication module" style="margin-top: 20px; margin-bottom: 60px;">
    <table>
        <caption class="inline">Estadísticas de quejas y sugerencias</caption>
        <tbody>
            <tr class="model-group">
                <!-- Enlace a la vista personalizada -->
                <th scope="row">
                    <a href="{% url 'base_app:custom_admin_view' %}">Quejas y sugerencias</a>
                </th>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>

<h1>Models</h1>

{{ block.super }}
    
{% endblock %}